In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (9.0.0)Note: you may need to restart the kernel to use updated packages.

In [41]:
import mysql.connector

In [42]:
from __future__ import print_function

localhost = "localhost"

yourusername = "root"

yourpassword = "6362"

yourdbname = "school"

connection = mysql.connector.connect( host=localhost, user=yourusername, passwd=yourpassword, db=yourdbname )


cursor = connection.cursor()

In [43]:
def add_student(std_id, first_name, last_name, gender, CGPA, std_class, father_name, mother_name, dob, email, phone, coaching_id, sub_id1, sub_id2, sub_id3):
    query = "INSERT INTO Students (std_id, first_name, last_name, gender, CGPA, std_class) VALUES (%s, %s, %s, %s, %s, %s)"
    cursor.execute(query, (std_id, first_name, last_name, gender, CGPA, std_class))
    query = "INSERT INTO Student_info (std_id, father_name, mother_name, dob, email, phone, coaching_id) VALUES (%s, %s, %s, %s, %s, %s, %s)"
    cursor.execute(query, (std_id, father_name, mother_name, dob, email, phone, coaching_id))
    query = "INSERT INTO Students_subject (student_id, sub_id1, sub_id2, sub_id3) VALUES (%s, %s, %s, %s)"
    cursor.execute(query, (std_id, sub_id1, sub_id2, sub_id3))
    connection.commit()

In [47]:
# Add students to School
while(1):
    x = int(input("1.Add More Students to Database: \n2.Exit: \n"))
    
    if(x == 1):
        std_id = (input("Student ID: "))
        first_name = (input("First Name: "))
        last_name = (input("Last Name: "))
        gender = (input("Gender "))
        CGPA = (input("CGPA : "))
        std_class = (input("Student's class: "))
        father_name = (input("Father's name : "))
        mother_name = (input("Mother's name : "))
        dob = (input("Date of Birth : "))
        email = (input("Email : "))
        phone = (input("Phone : "))
        coaching_id = (input("Coaching ID : "))
        sub_id1 = (input("subject id 1 : "))
        sub_id2 = (input("subject id 2 : "))
        sub_id3 = (input("subject id 3 : "))
        add_student(std_id, first_name, last_name, gender, CGPA, std_class, father_name, mother_name, dob, email, phone, coaching_id, sub_id1, sub_id2, sub_id3)
    else:
        break

1.Add More Students:
2.Exit:
 1
Student ID:  2201111
First Name:  Yash
Last Name:  Meshram
Gender  M
CGPA :  7.6
Student's class:  4
Father's name :  yash_papa
Mother's name :  yash_mummy
Date of Birth :  2004-08-22
Email :  yashm22@iitk.ac.in
Phone :  9999999991
Coaching ID :  ALLEN
subject id 1 :  MTH
subject id 2 :  ART
subject id 3 :  PHY
1.Add More Students:
2.Exit:
 2

In [45]:
def add_teacher(teacher_id, first_name, last_name, gender, email, phone, office_no):
    query = "INSERT INTO Teachers (teacher_id, first_name, last_name, gender, email, phone, office_no) VALUES (%s, %s, %s, %s, %s, %s, %s)"
    cursor.execute(query, (teacher_id, first_name, last_name, gender, email, phone, office_no))
    connection.commit()

In [46]:
##Add teacher to Teachers
while(1):
    x = int(input("1.Add More Teachers: \n2.Exit: \n"))
    if(x == 1):
        teacher_id = (input("Teacher ID: "))
        first_name = (input("First Name: "))
        last_name = (input("Last Name: "))
        gender = (input("Gender "))
        email = (input("Email : "))
        phone = (input("Phone : "))
        office_no = (input("Office no. : "))
        add_teacher(teacher_id, first_name, last_name, gender, email, phone, office_no)
    else:
        break

1.Add More Teachers:
2.Exit:
 2

In [39]:
connection.close()